.jumbotron{
    background-color:yellow;
    color: black;
    margin-top: 50px;
}


footer{
    background-color:yellow;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
    margin-top: 100px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserve{
  width: 100%;
}

.footer-adress-icon{
 padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}
